/* Roboto */
/* Boldonse */
/* Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: #333333;
    color: #f5f5f5;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;

    margin: 0;
    min-height: 100vh;
}

.container {
    max-width: 80%;
    margin: auto;
}

/* header */
.header {
    margin-bottom: 100px;
    text-align: center;
    width: 100%;
    /* border: 2px dotted red; */
}

.header-text h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 650%;
}

/* main */
.main {
    margin: 0 5%;
}

.info {
    margin-bottom: 40px;
    /* border: 2px dotted red; */
}

.logo {
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
}

.services {
    /* border: 2px dotted red; */
    margin-bottom: 40px;
}

.instrument {
    /* border: 2px dotted red; */
    margin-bottom: 40px;
}

.mission {
    /* border: 2px dotted red; */
    margin-bottom: 40px;
}

.garancy {
    /* border: 2px dotted red; */
    margin-bottom: 40px;
}

.why-i {
    /* border: 2px dotted red; */
    margin-bottom: 40px;
}

.examples {
    /* border: 2px dotted red; */
    margin-bottom: 40px;
}

.examples > div {
    margin: 10px;
    padding: 5px;
}

.example-1 {
    /* border: 2px dotted red; */
}


.example-2 {
    display: flex;
    /* border: 2px dotted red; */
}

.example-2-2 {
    margin-left: 10px;
}

.example-3 {
    /* border: 2px dotted red; */
}

/*  */
.feedback {
    /* border: 2px dotted red; */
    margin-bottom: 40px;
}

/* footer */
.footer {
    background: #4a4a4a;
    color: #f5f5f5;
    width: 100%;
    text-align: center;
}

.contacts {
    padding: 10px 0 50px 0;
}

.contacts-links {
    margin-top: 20px;
    margin-bottom: 10px;
}

.img-a {
    width: 47px;
}

.footer-data {
    padding-bottom: 2px;
}

/* common tags */
a {
    color: #93ccea;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
  
a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: purple;
}

.h {
    font-family: "Montserrat Alternates", sans-serif;
}

.img {
    width: 200px;
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.ol {
    padding: 0 10px;
    list-style: decimal inside;
}

.ul {
    list-style: outside circle;
}

.ol li {
    margin-bottom: 10px;
    border-bottom: 1px solid #4a4a4a;
    padding-bottom: 5px;
}
