/* Roboto */
/* Boldonse */
/* Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #333333;
    color: #f5f5f5;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;

    margin: 0;
    min-height: 100vh;
}

.container {
    max-width: 80%;
    margin: auto;
    
}

/* ============ header */
.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 650%;
    text-shadow: 5px 5px  5px #d4af37;
    letter-spacing: 10px;
    margin: 0;
    padding-bottom: 20px;
}

.header-text h2 {
    letter-spacing: 2px;
    word-spacing: 4px;
}

/* ============ main */
.main {
    margin: 0 5%;
}

.info {
    margin-bottom: 40px;
}

.logo {
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
}

.card-king {
    padding: 15px 20px;
    margin-bottom: 80px;
    border-radius: 20px;
    border: 1px solid #d4af37;
}

.info-h2 {
    letter-spacing: 1px;
    /* border: 1px solid red; */
    font-family: "Montserrat Alternates", sans-serif;
    margin-bottom: 40px;
    font-weight: 300;
}

.info-h4 {
    /* border: 1px solid red; */
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    text-align: center;

    margin: 30px 0 10px;
}

.info-p-1 {
    margin: 0 0 40px;
}

.info-p-2 {
    margin: 0;
    /* border: 1px solid red; */
}

.card {
    margin-bottom: 160px;
}

/* ============ instrument */
.instrument-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

/* ============ examples */
.examples-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.example {
    border-radius: 5px;
}

.img {
    width: 100%;
    padding: 1px;
    border: 1px solid #d4af37;
    border-radius: 5px;
}

.example-link {
    margin-top: 30px;
    text-align: center;
}

/* ============ feedback */
.fb-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.fb-grid > div {
    border: 1px solid #d4af37;
    border-radius: 5px;
}

.fb-card h5 {
    margin: 16px 0 16px 0;
    padding: 0;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

.fb-link {
    margin-top: 30px;
    text-align: center;
}

.fb-card p {
    margin: 16px 16px;
}

/* ============ footer */
.footer {
    background: #333333;
    color: #f5f5f5;
    width: 100%;
    text-align: center;
    border-top: 2px solid #d4af37;
}

.contacts {
    padding: 10px 0 50px 0;
}

.contacts h2 {
    margin-bottom: 40px;
    color: #f5f5f5;
    font-weight: 200;
}

.f-contacts-links {
    margin-top: 10px;
    margin-bottom: 10px;
}

.f-cl-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.f-cl-grid-el p {
    font-size: 120%;
}

/* .f-cl-number {
    margin-top: 20px;
} */

.f-cl-img-a {
    width: 60px;
}

.footer-data {
    padding-bottom: 2px;
}

.f-d-tg {
    color: inherit;
    font-weight: 100;
}

/* ============ common tags */
a {
    color: #93ccea;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
  
a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: purple;
}

.all-h {
    font-family: "Montserrat Alternates", sans-serif;
    margin-bottom: 50px;
    font-weight: 300;
}

.menu-h {
    text-decoration: underline 2px #d4af37;
    letter-spacing: 2px;
}

.ol {
    padding: 0 10px;
    list-style: decimal inside;
}

.ul {
    list-style: outside circle;
}

.ol li {
    margin-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
    padding-bottom: 5px;
}
